body {
    background-image: url("imagens/background_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif !important;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #333333 !important;
}

.hero-header {
    background: url('bg-image.jpg') no-repeat center center/cover;
    color: #222;
    height: 750px;
}

.nav-link {
    font-weight: 500;
    position: relative;
    transition: color 0.3s;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff6b6b;
    transition: width 0.3s ease;
}

.nav-link:hover {
    color: #ff6b6b;
}

.nav-link:hover::after {
    width: 100%;
}

.navbar a{
    text-decoration: none !important;
    color: #333333 !important;
    font-size: 1.5rem;
    margin-right: 20px;
}


.linha_separadora_portfolio{
    margin-left: 2px;
    width: 2px;
    height: 150px;
    background-color: #333333;
}

#photos .carousel-item img {
    height: 200px;
    width: 400px !important;
    object-fit: contain;
}

#about_me h3 , h5{
    background-color: #333333ee;
    color: white !important;
    padding: 8px 0px 8px 8px;
}

#about_me p{
    color: #333333 !important;
    font-weight: bold;
    font-size: large;
    margin-bottom: 2px !important;
}

.caixa{
    font-size: 20px;
    background-color: rgb(251, 250, 248);
}

.skill-bar {
    margin-bottom: 20px;
}

.skill-bar .skill-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.skill-bar .progress {
    height: 15px;
}

.skill-bar .progress-bar {
    transition: width 1s;
}

a{
    color: #333333 !important;
}

.sombreado{
    box-shadow: 0px 0px 10px 3px rgb(129, 114, 71);
}

.sombreado p{text-align: justify !important;}


@media (max-width: 767px){

    .navbar a{
        font-size: 1rem !important;
    }
    
    .imagem_perfil{
        width: 100%;
        text-align: center;
        margin-top: -40px;
    }

    .imagem_perfil img{
        width: 60% !important;
    }
}


